body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

form, button {
    margin-bottom: 10px;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#loginPage {
    margin-top: 100px;
}

#customerDetails label {
    display: inline-block;
    width: 130px;
    margin-right: 10px;
}

#addCustomerBtn {
    background-color: #008CBA;
}

#addCustomerBtn:hover {
    background-color: #007A9B;
}

#cancelBtn {
    background-color: #f44336;
}

#cancelBtn:hover {
    background-color: #da291c;
}